* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* header section */

.header-banner {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: contain;
  justify-content: center;
  text-align: right;
}
.digital-banner {
  width: 40%;
  margin: auto;
  margin-right: 150px;
}
.banner-title {
  font-weight: 550px;
  font-size: 60px;
  line-height: 70px;
  margin-top: 30px;
}
.banner-descripton {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin: 20px 0px 30px;
  padding-left: 45px;
}
.btn {
  padding: 15px 35px;
  font-style: normal;
  font-size: 16px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  font-weight: 550;
}
.contact-us-btn {
  background-color: #f15b22;
  color: white;
}
/* achivement section */

.achivement-section {
  display: flex;
  align-items: center;
}
.author-img img {
  margin: 100px 50px 50px 150px;
  width: 450px;
}
.achivement-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 30px;
  padding-left: 50px;
}
.achivement-body {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-left: 50px;
  padding-right: 280px;
  text-align: left;
  margin-bottom: 10px;
}
.achivement-list {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-left: 50px;
  padding-right: 50px;
}
li {
  list-style: none;
}
.checkmark {
  color: rgb(11, 233, 103);
  font-weight: bold;
}

/* paln section */
.plan-heading {
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
  text-align: center;
  margin-top: 50px;
}
.plan-box {
  display: flex;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 100px;
}
.plans {
  padding: 30px;
}
.plan-title {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}
.plan-des {
  color: #737272;
  font-size: 25px;
}
/* gradient section */
.gradient {
  background-image: url(../assets/images/watch.png),
    linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 250px;
  border-radius: 8px;
  margin: auto;
}
.gradient-title {
  width: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: white;
  padding-left: 100px;
  margin-bottom: 10px;
}

.call-now-btn {
  color: #f15b22;
  margin-left: 100px;
}
/* coding section */
.coding-container {
  display: flex;
  text-align: left;
  align-items: center;
  box-shadow: 4px 4px 8px rgb(78, 69, 69);
  margin: 0 175px;
  border-radius: 10px;
  padding: 50px;
  margin-top: 150px;
}
.coding-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
}
.coding-des {
  padding-right: 70px;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.coding-text {
  color: rgb(11, 104, 211);
}
.code-pic {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

/* footer section */

.footer-container {
  display: flex;
  background-color: #151414;
  margin-top: 150px;
}
.left-footer {
  margin: 100px 200px 95px 230px;
}
.right-footer {
  margin: 110px 230px 200px 0px;
}
.contact-title {
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.footer-text {
  color: white;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 15px;
}
.icon-box {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
[type="email"] {
  background: #151414;
  color: white;
  border-radius: 5px;
  border-color: white;
  width: 300px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}
::placeholder {
  color: #e6e5e5c4;
}
.subscribe-title {
  color: white;
  font-weight: 550;
  font-size: 25px;
  margin-bottom: 30px;
}
.subscribe-btn {
  color: #f15b22;
}
.description {
  width: 410px;
}
